.btn-add {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ;
  }
  
  .btn-add:hover {
    background-color: #45a049;
  }

  .btn_cancel {
    width: 20px;
    height: 20px;
    margin-left: 280px;
  }