$bg-color: #f8f9fa !default;

$txt-normal-color: #8094ae !default;
$txt-normal-font-size: 0.9em;

$txt-bold-color: #364a63;
$txt-bold-font-size: 0.875rem;
$txt-bold-font-weight: 700;

$txt-error-color: #ff0000;
